html{ height:100%; }
body {
    margin: 4%;
    background-color: #262626;
  }

.gridLayout{
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 150% 150%;
    column-gap: 5%;
    row-gap: 15%;
    background-color: #262626;
}

.article{
    background-color: whitesmoke;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
  }

.elementarticle{
    background-image: url(../images/ejecutivo1.jpg);
    
}