body{
    margin: 0;
    background-color: whitesmoke;

/* Ubicación de la imagen */
    background-image: url(../images/fondo.jpg);
/* Para dejar la imagen de fondo centrada, vertical y horizontalmente */
    background-position: center center;
/* Para que la imagen de fondo no se repita */
    background-repeat: no-repeat;
/* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
    background-attachment: fixed;
/* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
    background-size: cover;
}

.container {
    display: flex; /* or inline-flex */
    flex-direction: row;
  }

 .principalmenu {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    
    list-style: none;
    margin: 0; 
    background: whitesmoke;
 }
  
 .principalmenu a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: black;
 }
  
 .principalmenu a:hover {
    background: #24135F;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
 }


 .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}
  

 @media all and (max-width: 800px) {
    .principalmenu {
      justify-content: space-around;
    }
 }
  
 @media all and (max-width: 600px) {
    .principalmenu {
      flex-flow: column wrap;
      padding: 0;
    }
    .principalmenu a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .principalmenu li:last-of-type a {
      border-bottom: none;
    }
 }


.centerTextWelcome{
    margin: 10px auto;
    font-size: 500%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100PX;
}

.productoservicios{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.avatar {
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 15%;
    width: 15%;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    border:1px black solid;
    background-color:white;
    padding:5px;
    box-shadow: 0px 0px 10px 0px rgba(34, 245, 15, 0.952);

}


