body{
    margin: 0;
    background-color: whitesmoke;

/* Ubicación de la imagen */
    background-image: url(../images/fondo.jpg);
/* Para dejar la imagen de fondo centrada, vertical y horizontalmente */
    background-position: center center;
/* Para que la imagen de fondo no se repita */
    background-repeat: no-repeat;
/* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
    background-attachment: fixed;
/* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
    background-size: cover;
}



nav{
    
    font-size: 16px;
    font-family: sans-serif;
    width: 100%;
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*
nav > a{
    color: white;
    text-decoration: none;
}
*/


.parrafos-home{
    font-size: 25px;
    font-family: fantasy;
    color: white;
    text-decoration: none;
}

.centerTextWelcome{
    margin: 10px auto;
    font-size: 400%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100PX;
}

.homeimg{
    width: 10%;
    height: 10%;    
}

.avatar {
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 4%;
    width: 4%;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    
}