body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }


  .carruselapp{
    display: grid;
    grid-template-columns: 15% 50% 15%;
    gap: 10px;
    justify-content: center;
  }


/* **************************************  */

